<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        {{> user-summary}}

        <form class="col-md-6 border-right" action="/me/account?_method=PUT" method='POST'>
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Information</h4>
                    {{#if message}}
                    <h4 class="text-success">{{message}}</h4>
                    {{/if}}
                    {{#if errorMessages}}
                    {{#each errorMessages}}
                    <h4 class="text-danger">{{this}}</h4>
                    {{/each}}
                    {{/if}}
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <label class="labels">Email</label>
                        <input type="text" class="form-control" name="email" value="{{user.email}}" disabled="true">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Old Password</label>
                        <input type="password" class="form-control" name="oldPassword" placeholder="" value=''
                            required="true">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">New Password</label>
                        <input type="password" class="form-control" name="newPassword" placeholder="" value=''
                            required="true">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Confirm New Password</label>
                        <input type="password" class="form-control" name="confirmNewPassword" placeholder="" value=''
                            required="true">
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" type="submit">Change Password</button>
                </div>
            </div>
        </form>
        {{>user-settings-navigator}}
    </div>
</div>